sourcemap.json
node_modules/
Packages/
lune_packages/
luau_packages/
roblox_packages/
**/*.rbx[lm]*
.DS_Store
roblox.yml
roblox.toml
globalTypes.d.lua

**/sourcemap.json
dist/
release/
.env
.vscode/
.claude/settings.local.json